.nav {
    text-align: center;
    width: 100%;
    /* height: 3rem; */
  }
  
  .nav-logo {
    height: 2vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .nav-logo {
      animation: nav-logo-spin infinite 20s linear;
    }
  }
  
  .nav-header {
    background-color: #6b91dd;
    /* height: 3rem; */
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    font-size: calc(10px + 1vmin);
    color: white;
    z-index: 100;
  }
  
  .nav-link {
    color: #61dafb;
  }
  
  @keyframes nav-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
/* .spacer{
  width: 500px;
  min-width: 300px;
  float: right;
} */

.container{ 
  padding: 50px;
  background-color: white;
  height: fit-content;
  width: 70vw;
  margin: auto;
  border-radius: 25px;
}
.menu-options{
  float: right;
  width: 400px;
}
.nav-heading{
  width: 100%;

}

.create-post-fab{
  position: absolute !important;
  right: 20px;
  bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .container{ 
    /* padding: 50px; */
    background-color: white;
    height: fit-content;
    width: 100vw;
    margin: auto;
    border-radius: 25px;
  }
}

